.selected {
  border: 2px solid black !important;
}

.container-outer {
  font: inherit;
  /* overflow: hidden; */
  color: rgb(107, 114, 128);
}

.container-inner {
  width: 100%;
  max-width: 700px;
  min-width: 500px;
  padding: 1em;
  margin: auto;
  font-size: 10px !important;
  letter-spacing: 0.1em !important;
  line-height: 2.5 !important;
}

.heading-container {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
}

.heading {
  border-bottom: 2px solid rgb(107, 114, 128);
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}

.form-container {
  width: 100%;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.title-image {
  display: flex;
  padding: 1em;
  margin: 3em 1em;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
  width: 100%;
}

.image-style{
  height: 200px;
  width: 200px;
}

.image-label{
  width: 100%;
  font-size: 3em;
}

.form-inner-container {
  width: 100%;
  padding: 6px 0px 6px 10px;
  margin-top: 6px;
}

.title-container {
  position: relative;
  margin: 1em 0;
}

.title-input-box {
  display: block;
  padding: 2px;
  width: 100%;
  color: #111827;
  font-size: 15px;
  background: #f9fafb;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

input:focus {
  border: 1px solid #3b82f6;
}

.privacy-container {
  display: flex;
  width: 100%;
  margin:2em 0;
  padding: 4px 0px;
}


.privacy-inner-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.privacy-label {
  /* display: flex; */
  padding-right: 10px;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: center;
}

.privacy-buttons-container {
  display: flex;
  align-items: flex-end;
  margin-top: 1em;
}

.privacy-buttons {
  padding: 0px 10px;
  margin: 0px 2px;
  border: 1px solid #9ca3af;
  color: #9ca3af;
  font-size: 1.5em;
  font-weight: bolder;
}

.privacy-buttons-selected {
  padding: 0px 10px;
  margin: 0px 2px;
  border: 1px solid #f87171;
  color: #f87171;
  font-size: 1.5em;
  font-weight: bolder;
}

.privacy-information {
  margin: 2em 0;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bolder;
}

.color-buttons-container {
  display: flex;
  margin-top: 24px;
  align-items: center;
  padding: 10px 0px;
  border-top: 2px solid #d1d5db;
  border-bottom: 2px solid #d1d5db;
  margin: 3em 0;
}

.color-label {
  font-size: 1.5em;
  margin-right: 2em;
  padding-right: 3em;
  font-weight: bolder;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.color-button {
  border: 2px solid #d1d5db;
  width: 18px;
  height: 18px;
  border-radius: 9999px;
  margin: 0px 1px;
}

.color-indigo {
  background-color: #6366f1;
}

.color-blue {
  background-color: #3b82f6;
}

.color-red {
  background-color: #ef4444;
}

.color-green {
  background-color: #22c55e;
}

.color-orange {
  background-color: #f97316;
}

.color-purple {
  background-color: #a855f7;
}

.color-yellow {
  background-color: #eab308;
}

.submit-button {
  display: flex;
  margin-left: auto;
  margin-top:2em;
  color: white;
  font-size: 15px;
  background-color: #6b7280;
  padding: 4px 40px;
  border-radius: 15px;
}

.submit-button:hover {
  background-color: #dc2626;
}
