.containerStyles{
  width : "800px";
  height: "480px";
  margin : 0 auto;  
  align-items: center;
}

.sliderStyles {
    position: "relative";
    height: "100%";
 };

.slideStyles{
    width :"100%";
    height:"100%";
    border-radius : "10px";
    background-position:"center";
    background-size: "cover";    
}